.side_pane{
    -fx-background-color:  #f6f9ff;
}
.main_pane{
 -fx-background-color:  #f2f2f2;
}
.top_pane{
-fx-background-color:  #ffffff;
}

.overview_banner{
-fx-background-color:  #ffffff;
-fx-background-radius:  20;
-fx-border-radius: 20;
}

.add_button{
-fx-border-color: #2c6ebf;
-fx-background-radius:  20;
-fx-border-radius: 20;
}

.update_button{
-fx-border-color: #bfb32c;
-fx-background-radius:  20;
-fx-border-radius: 20;
}

.delete_button{
-fx-border-color: #bf382c;
-fx-background-radius:  20;
-fx-border-radius: 20;
}